@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #341d78;
    font-family: "SUSE", sans-serif;
    background-size: cover;
}

header {
    background-color: #130a2c;
    width: 99vw;
    height: 14vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 75px;
    text-align: center;
}

/*Questao 1*/
header a:hover {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: #5932CD;
}

header a:active {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: #28165f;
    transition: 0.2s;
}

*:focus {
    outline: 1px solid black;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    border:0.5px solid grey;
    box-shadow: 2px 2px 3px black;
    border-radius: 15px;
    margin-top: 95px;
    padding-bottom: 7px;
}

input[type=email]:valid {
    border: 1px solid black;
     background-color: rgb(193, 245, 158);
     font-family: "SUSE", sans-serif;
}

input[type=email]:invalid {
    border: 1px solid black;
     background-color: rgb(245, 158, 158);
     font-family: "SUSE", sans-serif;
}

.conferir:required {
    background-color: rgb(252, 187, 187);
}

input, select, textarea {
    border: 1.5px solid black;
    width: 200px;
    font-family: "SUSE", sans-serif;
}

button {
    font-family: "SUSE", sans-serif;
    border-radius: 5px;
    width: 75px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.imagens {
    display: grid;
    place-items: center;
    grid-template-areas: 
    "Titulobernardo Titulolele"
    "Fotobernardo Fotolele";
    grid-template-rows: auto 1fr;
    column-gap: 10rem;
    align-content: center;
    margin-top: 0px;
}

.Foto__bernardo__titulo {
    grid-area: Titulobernardo;
}

.Foto_lele_titulo {
    grid-area: Titulolele;
}

.Foto__bernardo__imagem {
    grid-area: Fotobernardo;
    transition: transform 0.5s ease-out;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin: 10px;
}

.Foto__lele__imagem {
    grid-area:  Fotolele;
    transition: transform 0.5s ease-out;
    width: 200px;
    height: 200px;
    margin: 10px;
}

/*Questao 2*/
.Foto__bernardo__imagem:hover {
    grid-area: Fotobernardo;
    transform: scale(1.07);
}

.Foto__lele__imagem:hover {
    grid-area:  Fotolele;
    transform: scale(1.07);
}

.Foto__bernardo__imagem:focus {
    border: 6px solid blueviolet;
    outline: none;
}

.Foto__lele__imagem:focus {
    border: 6px solid blueviolet;
    outline: none;
}

.imagens img:nth-child(even):hover {
    transition: 1s;
    filter: brightness(70%);
}

.imagens img:nth-child(odd):hover {
    transition: 1s;
    filter: brightness(60%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.estrelas {
    margin-top: 0px; 
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.estrelas input[type=radio]{
    display: none;
}

.estrelas label i.estrelas__estrela{
    font-size: 2.5em;
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    
}

/*Questao 3*/
.estrelas label i.estrelas__estrela:before{
    content:'\f005';
    color: #FC0;
}

.estrelas label:hover ~ label i.estrelas__estrela:before,
.estrelas label:hover i.estrelas__estrela:before {
    color: #CCC; 
}


.estrelas input[type=radio]:checked ~ label i.estrelas__estrela:before {
    color: #CCC; 
}


.estrelas input[type=radio]:checked ~ label + label i.estrelas__estrela:before {
    color: #CCC; 
}


.estrelas input[type=radio]:focus + label i.estrelas__estrela:before {
    color: #FC0; 
    outline: 2px solid #FC0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/